# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Common backup files
*.swp
*.bak
*.tmp
*~
*.orig
*.rej
*.org

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the built binary
/cert-manager-webhook-ovh
_out
kubebuilder-tools.tar.gz

# Test data
testdata/ovh/config.json
testdata/ovh/ovh-credentials.yaml

# dummy data
tmp

# OSx specific files
.DS_Store

# Windows specific files
Thumbs.db

# aider
.aider*

# Helm test files
charts/cert-manager-webhook-ovh/.debug
