apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cert-manager-webhook-ovh.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cert-manager-webhook-ovh.labels" $ | nindent 4 }}
  {{- with $context := .Values.pod.annotations }}
  annotations: {{- toYaml $context | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.pod.replicas | default 1 }}
  selector:
    matchLabels:
      {{- include "cert-manager-webhook-ovh.selectorLabels" $ | nindent 6 }}
  template:
    metadata:
      labels:
      {{- range $key, $value := .Values.pod.podLabels }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
        {{- include "cert-manager-webhook-ovh.selectorLabels" $ | nindent 8 }}
      {{- with $context := .Values.pod.podAnnotations }}
      annotations: {{- toYaml $context | nindent 8 }}
      {{- end }}
    spec:
      {{- with $pullSecrets := .Values.image.pullSecrets }}
      imagePullSecrets: {{- range $k, $secretName := $pullSecrets }}
        - name: {{ $secretName }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "cert-manager-webhook-ovh.fullname" . }}
      {{- with $context := .Values.pod.securityContext.pod }}
      securityContext: {{- toYaml $context | nindent 8 }}
      {{- end }}

      {{- with $context := .Values.pod.hostNetwork }}
      hostNetwork: {{ $context }}
      {{- end }}
      {{- with $context := .Values.pod.priorityClassName }}
      priorityClassName: {{ $context | quote }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "cert-manager-webhook-ovh.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          args:
            - --secure-port={{ .Values.pod.port | default 8443 }}
            - --tls-cert-file=/tls/tls.crt
            - --tls-private-key-file=/tls/tls.key
          env:
            - name: GROUP_NAME
              value: {{ .Values.groupName | quote }}
            {{- range $key, $val := .Values.pod.environment }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end}}
          ports:
            - name: https
              containerPort: {{ .Values.pod.port | default 8443 }}
              protocol: TCP
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          volumeMounts:
            - name: certs
              mountPath: /tls
              readOnly: true
          {{- with $context :=.Values.pod.resources }}
          resources: {{ toYaml $context | nindent 12 }}
          {{- end }}
          {{- with $context := .Values.pod.securityContext.container }}
          securityContext: {{- toYaml $context | nindent 12 }}
          {{- end }}
      volumes:
        - name: certs
          secret:
            secretName: {{ include "cert-manager-webhook-ovh.servingCertificate" . }}
      {{- with $context := .Values.pod.selectors.nodeSelector }}
      nodeSelector: {{ toYaml $context | nindent 8 }}
      {{- end }}
      {{- with $context := .Values.pod.affinity }}
      affinity: {{ toYaml $context | nindent 8 }}
      {{- end }}
      {{- with $context := .Values.pod.tolerations }}
      tolerations: {{ toYaml $context | nindent 8 }}
      {{- end }}
